.Navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 87, 37);
    color: rgb(255, 255, 255);
    height: 70px;
}

.NavTitle {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.Titletext {
    margin-left: 30px;
    font-weight: lighter;
    font-size: 30px;
    cursor: pointer;
}

.NavRouters {
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.routes {
    margin: 0px 17px;
    cursor: pointer;
    transition: all 0.4s;
}

.routes:hover {
    text-decoration: underline;
}

.NavBtns {
    display: flex;
    flex-direction: row;
}

.CreateNote {
    background-color: rgb(255, 217, 0);
    /* background-color: rgb(96, 197, 255); */
    height: 30px;
    width: 90px;
    margin-right: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s;
}

.CreateNote:hover {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0,0,0);
   }

.DelAccountBtn  {
    width: 130px;
    background-color: rgb(255, 62, 62);
}


.DelAccountBtn:hover {
    color: rgb(0,0,0);
    border: 2px solid rgb(0,0,0);
}
.CreatePatientBtn {
    background-color:lightblue;
    width:140px;
}